<%- include('layout/header') %>
    <main>
        <div class="tiles-container">
            <div class="tile" id="config-agent">
                <h2>Configuration de l'agent</h2>
            </div>
            <div class="tile disabled" id="config-users">
                <h2>Configuration des utilisateurs</h2>
            </div>
            <div class="tile disabled" id="download-module">
                <h2>Télécharger un module</h2>
            </div>
            <div class="tile" id="list-module">
                <h2>Liste des modules</h2>
            </div>
            <div class="tile disabled" id="supervision">
                <h2>Supervision</h2>
            </div>
        </div>
    </main>
    <script src="/scripts/script.js"></script>
<%- include('layout/footer') %>