<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="/styles/default/styles.css">
</head>
<body>
    <header>
        <h1>LUMA Supervision</h1>
    </header>
    <main>
        <div class="tiles-container">
            <div class="tile" id="config-agent">
                <h2>Configuration de l'agent</h2>
            </div>
            <div class="tile disabled" id="config-users">
                <h2>Configuration des utilisateurs</h2>
            </div>
            <div class="tile disabled" id="download-module">
                <h2>Télécharger un module</h2>
            </div>
            <div class="tile disabled" id="supervision">
                <h2>Supervision</h2>
            </div>
        </div>
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>
