/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Tile Styles */
.tiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.tile {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.tile:hover {
    background-color: #f9f9f9;
}

.disabled {
    background-color: #e0e0e0;
    color: #b0b0b0;
    cursor: not-allowed;
}

.disabled:hover {
    background-color: #e0e0e0;
}

/* Headings */
h1 {
    font-size: 24px;
    margin: 0;
}

/* Form Styles */
form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

label {
    font-weight: bold;
    align-self: center;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Button Styles */
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Config Table Styles */
.config-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.config-table th, .config-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.config-table th {
    background-color: #f8f8f8;
    color: #333;
}

.config-table td {
    font-size: 14px;
    color: #555;
}

.config-table tr:hover {
    background-color: #f1f1f1;
}

/* Button Styles for Table Actions */
button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;
    color: #555;
}

button:hover {
    color: #000;
}

.btn-default i {
    color: green;
}

.btn-edit i {
    color: #007bff;
}

.btn-delete i {
    color: red;
}

button:focus {
    outline: none;
}

/* Create Config Button */
#create-config-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#create-config-button:hover {
    background-color: #0056b3;
}
