<!DOCTYPE html>
<html lang="fr">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
    <link rel="stylesheet" href="/styles/default/styles.css">
    <link rel="stylesheet" href="/styles/all.min.css">
</head>
<body>
    <header>
        <h1>LUMA Supervision</h1>
    </header>
    <nav>
        <ul>
            <li>Accueil</li>
            <li>Se connecter</li>
            <li>EMPTY</li>
        </ul>
    </nav>